

<div id="calculadora" class="col-12">
  <div class="container" id="resultado">
      {{resultado}}
  </div>
  <div class="container">
      <button class="boton" id="reset" (click)="reset()">Reset</button>
      <button class="boton" id="backspace" (click)="backspace()">←</button>
      <button class="boton"  (click)="operacion('%')" >%</button>
      <button id="operacion" (click)="operacion('/')" class="btn btn-warning">/</button>
  </div>
  <div class="container">
      <button class="boton" (click)="numero(7)" >7</button>
      <button class="boton" (click)="numero(8)">8</button>
      <button class="boton" (click)="numero(9)">9</button>
      <button id="operacion" (click)="operacion('*')" class="btn btn-warning">*</button>
  </div>
  <div class="container">
      <button class="boton" (click)="numero(6)">6</button>
      <button class="boton" (click)="numero(5)">5</button>
      <button class="boton" (click)="numero(4)">4</button>
      <button id="operacion" (click)="operacion('-')" class="btn btn-warning">-</button>
  </div>
  <div class="container">
      <button class="boton" (click)="numero(1)" >1</button>
      <button class="boton" (click)="numero(2)" >2</button>
      <button class="boton" (click)="numero(3)" >3</button>
      <button  id="operacion" (click)="operacion('+')" class="btn btn-warning">+</button>
  </div>
  <div class="container">
      <button id="zero" class="boton" (click)="numero(0)" >0</button>
      <button  class="boton" (click)="valor('.')">.</button>
      <button id="operacion" (click)="calcular()" class="btn btn-warning">=</button>
  </div>
</div>